name: Auto-rebase PR

on:
  pull_request:
    types:
      - closed
      - labeled
      - synchronize

jobs:
  auto_rebase:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get default branch
        id: default_branch
        run: echo "default_branch=$(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')" >> $GITHUB_ENV


      - name: Auto-rebase PR
        run: |
          git fetch origin pull/${{ github.event.pull_request.number }}/head:pr/${{ github.event.pull_request.number }}
          git checkout pr/${{ github.event.pull_request.number }}
          git rebase main
          git push --force-with-lease origin HEAD:pr/${{ github.event.pull_request.number }}
